
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Manager Home Page</title>
    <style>body{background-color: lightblue;}</style>
</head>
<style>
    .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<h1>Hi, {{ pageData["Name"] }}</h1>

{% for section in pageData["Sections"] %}
    <form action="{{ url_for('main.managerSectionPage') }}" method="post">
        <input type="hidden" name="sID" value="{{ section['ID'] }}">
        <input type="submit"  class='button' value="{{ section['Name'] }}">
    </form>
    <br>
{% endfor %}


{% endblock %}